{% extends 'base.html.twig' %}

{% block title %}Paramètres de l'administration{% endblock %}

{% block body %}
    <h1>Paramètres de l'administration</h1>
    <p>Configuration à venir...</p>
{% endblock %}