<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Page 404 personnalisée</title>
</head>
<body>
    <h1>Erreur 404</h1>
    <p>La page que vous cherchez n'existe pas.</p>
</body>
</html>